<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Создать товар</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div align="center">
    <h2>Введите данные</h2>
    <form action="#" th:action="@{'/product/' + ${product.id} + '/edit'}" th:object="${product}" method="post" enctype="multipart/form-data">
        <table border="1" cellpadding="10">
            <tr>
                <td>Изображение:</td>
                <td>
                    <div th:if="${product.filename != null}">
                        <img th:src="@{'/img/' + ${product.filename}}">
                    </div>
                    <div th:if="${product.filename == null}">
                        <img th:src="@{'/img/noPhoto.png'}">
                    </div>
                    <input type="file" th:name="file">
                </td>
            </tr>
            <tr>
                <td>Категория:</td>
                <td>
                    <select name="category" size="1">
                        <option disabled>Выберите категорию</option>
                        <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}" th:selected="${#bools.isTrue(product.category.equals(category))}?'selected':'no'"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Модель:</td>
                <td><input type="text" th:field="*{modelName}"></td>
            </tr>
            <tr>
                <td>Производитель:</td>
                <td><input type="text" th:field="*{manufacturer}"></td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><textarea rows="10" cols="45" th:field="*{description}"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Сохранить"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>