<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Корзина</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <div align="center" th:if="${basket == null || basket.offers.isEmpty()} ">
        <p>Ваша  корзина пуста</p>
    </div>
    <div align="center" th:if="${basket != null && !basket.offers.isEmpty()}">
        <table border="1" cellpadding="10">
            <tr th:each="offer : ${basket.offers}">
                <td th:if="${offer.product.filename != null}">
                    <img th:src="@{'/img/' + ${offer.product.filename}}">
                </td>
                <td th:if="${offer.product.filename == null}">
                    <img th:src="@{'/img/noPhoto.png'}">
                </td>
                <td th:text="${offer.product.modelName}"></td>
                <td th:text="${offer.cost}"></td>
                <td>
                    <form th:action="@{'/basket/' + ${basket.id} + '/offer/' + ${offer.id} + '/delete'}" method="post">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><p>Сумма к оплате:</p></td>
                <td th:text="${basket.totalCost}"></td>
                <td></td>
            </tr>
        </table>
        <br/>
        <form th:action="@{'/order'}" method="get">
            <input type="submit" value="Оформить заказ">
        </form>
    </div>
</body>
</html>