<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
    <div align="center">
        <table border="1" cellpadding="10">
                <tr th:each="productDesc : ${productDescriptions}">
                    <td th:if="${productDesc.filename != null}">
                        <img th:src="@{'/img/' + ${productDesc.filename}}">
                    </td>
                    <td th:if="${productDesc.filename == null}">
                        <img th:src="@{'/img/noPhoto.png'}">
                    </td>
                    <td>
                        <a th:href="@{'/product/' + ${productDesc.id}}" th:text="${productDesc.modelName}">Name</a>
                        <p th:text="${productDesc.description}">Text</p>
                    </td>
                </tr>
        </table>

    </div>

</body>
</html>