<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <div align="center">
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listProducts}">
                    <td>
                        <a th:href="@{'/product/' + ${product.id}}" th:text="${product.productDescription.getName()}">Name</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>