<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
    <div align="center">
        <table border="1" cellpadding="10">
                <tr th:each="productDescriptionMap : ${productDescriptionsMap}">
                    <td th:if="${productDescriptionMap.key.filename != null}">
                        <img th:src="@{'/img/' + ${productDescriptionMap.key.filename}}">
                    </td>
                    <td th:if="${productDescriptionMap.key.filename == null}">
                        <img th:src="@{'/img/noPhoto.png'}">
                    </td>
                    <td>
                        <a th:href="@{'/product/' + ${productDescriptionMap.key.id}}" th:text="${productDescriptionMap.key.modelName}">Name</a>
                        <p th:text="${productDescriptionMap.key.description}">Text</p>
                    </td>
                    <td>
                        <p th:text="'от ' + ${productDescriptionMap.value}"></p>
                    </td>
                </tr>
        </table>

    </div>

</body>
</html>