<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.modelName}"></title>
</head>
<body>
<h2 th:text="${product.modelName}"></h2>
    <table>
        <tr>
            <td></td>
            <td th:if="${product.filename != null}">
                <img th:src="@{'/img/' + ${product.filename}}">
            </td>
            <td th:if="${product.filename == null}">
                <img th:src="@{'/img/noPhoto.png'}">
            </td>
        </tr>
        <tr>
            <td>Производитель:</td>
            <td th:text="${product.manufacturer}"></td>
        </tr>
        <tr>
            <td>Описание:</td>
            <td th:text="${product.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form th:action="@{'/product/' + ${product.id} + '/offer/new'}" method="get">
                    <input type="submit" value="Добавить предложение">
                </form>
            </td>
        </tr>
    </table>
<p>Предложения магазинов</p>
<table>
    <tr th:each="offer : ${product.offers}">
        <td>
            <p th:text="${offer.seller.username}"></p>
        </td>
        <td>
            <p th:text="${offer.seller.text}"></p>
        </td>
        <td>
            <p th:text="${offer.cost}"></p>
            <form th:action="@{'/basket/' + ${basket.id} + '/add'}" method="post">
                <input type="hidden" name="offerId" th:value="${offer.id}">
                <input type="submit" value="В корзину">
            </form>
        </td>
        <td>
            <p>Контакты</p>
            <p th:text="${offer.seller.phoneNumber}"></p>
            <p th:text="${offer.seller.email}"></p>
        </td>
    </tr>
</table>
</body>
</html>