<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="${user.username}"></title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div align="center">
        <table cellpadding="10">
            <tr>
                <td>Магазин: </td>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr th:if="${user.phoneNumber != null}">
                <td>Номер телефона: </td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            <tr th:if="${user.text != null}">
                <td>Описание: </td>
                <td th:text="${user.text}"></td>
            </tr>
        </table>
        <h4 th:if="${user.reviews.isEmpty()}">У магазина нет отзывов</h4>
        <div th:if="${!user.reviews.isEmpty()}">
        <h5>Отзывы</h5>
        <table cellpadding="10">
            <tr th:each="review : ${user.reviews}">
                <td>
                    <h5 th:text="${review.buyer.username}"></h5>
                </td>
                <td>
                    <h5 th:text="${review.heading}"></h5>

                    <p th:text="${review.text}"></p>
                </td>
            </tr>
        </table>
        </div>
</div>
</body>
</html>