<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Заказы</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

    <p align="center"><a th:each="state : ${states}" th:href="@{'/order/' + ${state.toString().toLowerCase()}}" th:text="${state.name} + ' &nbsp;'"></a></p>

<div align="center" th:if="${listOrders.isEmpty()} ">
    <p>Нет заказов</p>
</div>
<div align="center" th:if="${!listOrders.isEmpty()}">
    <table border="1" cellpadding="10">
        <tr th:each="order : ${listOrders}">
            <td th:if="${order.offer.product.filename != null}">
                <img th:src="@{'/img/' + ${order.offer.product.filename}}">
            </td>
            <td th:if="${order.offer.product.filename == null}">
                <img th:src="@{'/img/noPhoto.png'}">
            </td>
            <td>
                <a th:text="${order.offer.product.modelName}" th:href="@{'/product/' + ${order.offer.product.id}}"> </a>
                <p>
                    <a>Покупатель: </a>
                    <a th:text="${order.buyer.username}"></a>
                </p>
                <p>
                    <a>Контактный номер: </a>
                    <a th:text="${order.phoneNumber}"></a>
                </p>
                <p>
                    <a>Адрес доставки: </a>
                    <a th:text="${order.address}"></a>
                </p>
            </td>
            <td>
                <div th:if="${order.state.toString().equals('ACTIVE')}">
                    <p th:text="${order.state.name}"></p>
                </div>
                <div th:if="${!order.state.toString().equals('ACTIVE')}">
                    <p th:text="${order.state.name}"></p>
                    <p th:text="${order.dateOfAction}"></p>
                </div>
                <p>
                    <a>Стоимость - </a>
                    <a th:text="${order.cost}"></a>
                </p>
            </td>
            <td>
                <div th:if="${order.state.toString().equals('ACTIVE')}">
                    <p>
                    <form th:action="@{'/order/' + ${order.id} + '/state'}" method="post">
                        <input type="hidden" name="state" value="completed">
                        <input type="submit" value="Выполнен">
                    </form>
                    <br/>
                    <form th:action="@{'/order/' + ${order.id} + '/state'}" method="post">
                        <input type="hidden" name="state" value="canceled">
                        <input type="submit" value="Отменить">
                    </form>
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>